body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-color: #f5f5f5;
}

.home {
  text-align: center;
  margin-top: 50px;
}

.search-bar {
  width: 300px;

  padding: 12px;

  border-radius: 8px;
  border: 1px solid gray;

  margin-top: 20px;
}

.products-container {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 30px;

  padding: 40px;

  justify-items: center;

}

.cart-page {

  padding: 40px;
}

.cart-page h1 {

  margin-bottom: 30px;
}

.cart-item {

  background-color: white;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 20px 30px;

  margin-bottom: 20px;

  border-radius: 12px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cart-left {

  display: flex;

  align-items: center;

  gap: 20px;
}

.cart-image {

  width: 140px;

  height: 140px;

  object-fit: cover;

  border-radius: 10px;
}

.cart-details h3 {

  margin: 0;

  font-size: 24px;
}

.cart-details p {

  color: gray;

  margin-top: 8px;
}

.cart-price {

  font-size: 28px;

  font-weight: bold;
}



.remove-btn {

  margin-top: 10px;

  background-color: red;

  color: white;

  border: none;

  padding: 8px 15px;

  border-radius: 5px;

  cursor: pointer;
}

.total-section {

  margin-top: 30px;

  text-align: right;
}

.checkout-btn {

  background-color: black;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 8px;

  cursor: pointer;

  margin-top: 10px;
}


.profile-page {

  padding: 40px;

  text-align: center;
}

.profile-card {

  background-color: white;

  width: 400px;

  margin: auto;

  padding: 30px;

  border-radius: 12px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.profile-card h2 {

  margin-bottom: 20px;
}

.profile-card p {

  margin: 10px 0;

  color: gray;
}

.logout-btn {

  margin-top: 20px;

  background-color: red;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 8px;

  cursor: pointer;
}