/* PAGE */

.myorders-page {

  padding: 50px 40px;

}

/* TITLE */

.myorders-title {

  text-align: center;

  font-size: 65px;

  color: #071739;

  margin-bottom: 55px;

}

/* CONTAINER */

.myorders-container {

  width: 92%;

  margin: auto;

  display: flex;

  flex-direction: column;

  gap: 40px;

}

/* CARD */

.myorder-card {

  background: white;

  border-radius: 28px;

  padding: 35px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

  display: flex;

  justify-content: space-between;

  gap: 45px;

  flex-wrap: wrap;

  transition: 0.3s;

}

.myorder-card:hover {

  transform: translateY(-6px);

}

/* LEFT */

.myorder-left {

  flex: 1;

}

.myorder-total {

  font-size: 28px;

  color: #071739;

  font-weight: bold;

}

.myorder-status {

  margin-top: 20px;

  display: inline-block;

  background:
    linear-gradient(
      90deg,
      #071739,
      #2f5bea
    );

  color: white;

  padding: 12px 22px;

  border-radius: 14px;

  font-size: 18px;

  font-weight: bold;

}

/* RIGHT */

.myorder-right {

  flex: 1.1;

}

.myorder-right h3 {

  font-size: 30px;

  color: #071739;

  margin-bottom: 24px;

}

/* ITEMS */

.myorder-items {

  display: flex;

  flex-direction: column;

  gap: 20px;

}

/* ITEM */

.myorder-item {

  display: flex;

  align-items: center;

  gap: 20px;

  background: #f7f7f7;

  padding: 18px;

  border-radius: 22px;

  transition: 0.3s;

}

.myorder-item:hover {

  transform: scale(1.02);

}

/* IMAGE */

.myorder-item img {

  width: 100px;

  height: 100px;

  object-fit: cover;

  border-radius: 18px;

}

/* DETAILS */

.myorder-item-details h4 {

  color: #071739;

  font-size: 24px;

  margin-bottom: 8px;

}

.myorder-item-details p {

  color: #555;

  font-size: 18px;

  margin-top: 6px;

}

/* EMPTY */

.no-orders {

  text-align: center;

  font-size: 24px;

  color: #555;

}



/* SUMMARY CARD */

.order-summary-card {

  width: 260px;

  background: #f8f9ff;

  padding: 25px;

  border-radius: 22px;

  box-shadow:
    0 5px 15px rgba(0,0,0,0.06);

}

.order-summary-card h2 {

  color: #071739;

  margin-bottom: 22px;

  font-size: 30px;

}

.order-summary-card p {

  margin-top: 14px;

  font-size: 19px;

  color: #444;

}

.order-summary-card span {

  font-weight: bold;

  color: #071739;

}


/* PRODUCT STATUS */

.product-status {

  margin-top: 12px;

  display: inline-block;

  background:
    linear-gradient(
      90deg,
      #071739,
      #2f5bea
    );

  color: white;

  padding: 8px 18px;

  border-radius: 12px;

  font-size: 15px;

  font-weight: bold;

}